/*general css*/
body {
  margin:0;
  font-family: 'Merriweather', serif;;
  color: #000033;
}

a {
  text-decoration: none;
  color: #000033;
}

a:hover {
  color: green;
}
h1{
  font-family: 'Merriweather', sans-serif;
}
h2{
  font-family: 'Merriweather', sans-serif;
}
h3{
  font-family: 'Merriweather', sans-serif;
}
/*header section*/

#logo {
  width: 165px;
  margin-right: 10px;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  background: linear-gradient(to right, white, indianred);

}

header div {
  display: flex;
  width:  30%;
  margin-left: 10%;
  align-items: center;
}

nav {
  width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-weight: bold;
  font-size: .9em;
}

/*main*/

 #marslandscape {
  height: 450px;
  width: 500px;
  margin-bottom: 10px;
}
#mars-photo {
  width: 600;
  text-align: center;
}
#mars-photo img {
  height: 450px;
  padding-bottom: 10px;
} 

 #text{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
/*Rover section*/
h2 {
  text-align: center;
}
#rover-title{
  padding-bottom: 10px;
  border:2px solid black;
}
#rovers {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}
.rover {
  width: 100%;
  padding-top: 30px;
  width: 30%;
  text-align: center;
}
 #rovers h2 {
  text-align: center;
}
 #rovers {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  ;
} 
#rovers img{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
} 
/*Mission section*/

#Mission h2{
  text-align: center;
}
#choices {
  display: flex;
  justify-content: space-around;
}
select {
  width: 100px;
  height: 30px;
}
input{
  width: 100px;
  height: 25px;
}
button {
  background-color: indianred;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover {
  background-color: green;
  color: white;
}
#launch {
  text-align: center;
  height:60px;
  width:120px;

}

#launch-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}


.choice h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.choice {
  height: 100px;
  width: 300px;
}
.select{
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  
}
.day{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px ;
}
.photos{
  margin-top: 10px;
}

/* video section */

#video-gallery {
  display: flex;
  background: linear-gradient(to right, white, indianred);
  padding: 20px 0 20px 0;
}

.video {
  width: 48%;
  margin: 0 auto;
}
#Videos h2 {
  text-align: center;
}

/* copied video responsive from https://www.ostraining.com/blog/coding/responsive-videos/ */

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*footer section*/
#contact {
  text-align: center;
  padding-bottom: 10px;
}
#Contact h2 {
  text-align: center;
}
small {
  text-align: center;
  padding: 10px 0;
  background-color: indianred;
  color:white;
  display: block;
}
/*Media query for tablets and smaller*/
@media only screen and (max-width: 700px) and (min-width: 400px), (min-width: 2000px){

body{
  background-color: lightsalmon;
}

html {
  font-size: 14px;
}
nav a{
  font-size:1em;
}
header div{
  margin-left: 5%;
  width: 20%;
}
nav{
  margin-right: 5%;
  width: 70%;
}

}